/* Global tags definition */
html {
    box-sizing: border-box;
    font-family: var(--ff-primary);
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--clr-primary-100);
}

h1, h2, h3, a, p, button, div {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: var(--font-smaller);
}

a:hover {
    text-decoration: none;
    color: var(--logo-green);
}

/* Global Variables */
:root {
    /* Primary is background */
    --clr-primary-100: #FCFCFC;
    --clr-primary-300: #66d0e880;
    --clr-primary-500: #FFCF9A;

    /* Accent color is the brand color */
    --clr-accent-400: #66E7A9;

    /* Neutral color is for texts, and neutral things */
    --clr-neutral-400: #616161;
    --clr-neutral-600: #1D4F37;
    --clr-neutral-900: #000000;

    --ff-primary: "Roboto";

    --fs-200: 20px;
    --fs-400: 32px;
    --fs-600: 40px;
    --fs-800: 56px;

    --fw-thin: 300;
    --fw-regular: 400;
    --fw-bold: 700;

    --fs-heading-1: var(--fs-600);
    --fs-heading-2: var(--fs-400);

    --ls-heading-1: 0.1em;

    --size-100: 16px;
    --size-200: 32px;
    --size-300: 40px;
    --size-400: 64px;
    --size-500: 80px;
    --size-600: 96px;
    --size-700: 112px;
    --size-800: 128px;
    --size-900: 144px;

    --blk-size-400: 100%
}

@media (min-width: 50em) {
    :root {
        --fs-heading-1: var(--fs-800);
        --fs-heading-2: var(--fs-600);

        --blk-size-400: 525px;
    }
}

/* Utilities */

.flow > * + * {
    margin-top: var(--flow-space, 0.25em);
}

.hbox {
    display: flex;
    align-items: center;
}

.vbox {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Vertical on mobile and horizontal on desktop */
.vhbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vh-reversebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scr-margin {
    margin: 0 20px;
}



@media (min-width: 50em) {
    .vhbox {
        flex-direction: row;
    }
    .vh-reversebox {
        flex-direction: row-reverse;
    }
    .scr-margin {
        margin: 0 188px;
    }
}

.spaced-content {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.text-neutral {
    font-size: var(--fs-200);
}

.centered-text {
    text-align: center;
}

.heading-1 {
    font-size: var(--fs-heading-1);
    letter-spacing: var(--ls-heading-1);
}

.heading-2 {
    font-size: var(--fs-heading-2);
    font-weight: var(--fw-bold);
    letter-spacing: var(--ls-heading-1);
}

.clr-primary-100 {
    color: var(--clr-primary-100);
}
.clr-primary-300 {
    color: var(--clr-primary-300);
}
.clr-primary-500 {
    color: var(--clr-primary-500);
}

.clr-accent-400 {
    color: var(--clr-accent-400);
}

.clr-neutral-400 {
    color: var(--clr-neutral-400);
}
.clr-neutral-600 {
    color: var(--clr-neutral-600);
}
.clr-neutral-900 {
    color: var(--clr-neutral-900);
}

.blk-size-400 {
    width: var(--blk-size-400);
}

.hfull {
    display: flex;
    width: 100%;
}

.vfull {
    display: flex;
    height: 100%;
    flex-direction: row;
}

.gap-100 {
    gap: var(--size-100);
}

.gap-900 {
    gap: var(--size-900);
}

/* Global components specification */


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--size-100);
    gap: var(--size-100);
}

.header-logo-image {
    width: 50px;
    height: auto;
}

.header-logo-text {
    font-family: "Krona One";
    font-size: 12px;
    line-height: 135%;
    letter-spacing: 15%;
}

@media (min-width: 50em) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
        margin-left: var(--size-200);
        margin-right: var(--size-900);
    }
    .header-logo-image {
        width: 80px;
    }
    .header-logo-text {
        font-size: 22px;
        width: 100px;
    }
}

.txt-mobile-centered {
    text-align: center;
    vertical-align: middle;
}

@media (min-width: 50em) {
    .txt-mobile-centered {
        text-align: left;
        vertical-align: auto;
    }
}

.logo-safe-word {
    color: var(--clr-accent-400);
}

.nav-bar {
    width: max(30%, 300px);
}

.white-on-green-bttn {
    border: none;
    background-color: var(--logo-green);
    outline: none;

    font-size: 30px;
    height: 60px;
    color: white;
    border-radius: 12px;
}